* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(246, 255, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    width: 70%;
    min-width: 560px;
    height: 65%;
    background-color: rgb(165, 165, 144);
    border: solid   rgb(88, 88, 88);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.tituloAdd {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 1em;
}
/* .agregarP {

} */
.participantes {
    width: 50%;
    text-align: center;
    display: inline;   
    margin-top: 2em;
}

.agregarP {
    display: inline-block;
    margin: auto;
    margin-bottom: 1em;
}

#textEnter {
    font-size: 1em;
    width: 250px;
    height: 30px;
}

.addButton {
    border-radius: 50%;
    height: 1.6em;
    width: 1.6em;
    font-size: 1em;
    margin-top: 10px;
   /*  margin-left: 1rem; */
    border: solid thin;
}

#lista {
    margin-top: 1rem;
}
.player {
    border: solid thin;
    border-radius: 30px;
    list-style: none;
    float: left;
    position: relative;
    background-color: rgb(211, 211, 211);
    padding: 0.1rem 1.8rem 0.1rem 0.5rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
}
.delButton {
    height: calc(100% + 2px);
    width: 1.5em;
    font-size: 1.1rem;
    text-align: center;
    border: solid thin;
    border-radius: 0 30px 30px  0px;
    position: absolute;
    top: -1px;
    right: -1px;
}
.leftSide {
    width: 50%;
    height: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
}
/* Configuracion */
.rightSide {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 100%;
    border-left: solid;
    font-size: 1.5em;
}
.cantidad {
    margin-top: 2em;
    margin-bottom: 1em;
}
label {
    margin: 1em;
    margin-top: 1em;
}
.boton {
    margin: 1em 1em;
    width: 10em;
    height: 3em;
    font-size: medium;
    border-radius: 10px; 
}
.botonera {
    margin-bottom: 1em;
}
#radiosWin {
    display: flex;
    justify-content: center;
}
.blurryBack {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(14, 15, 15, 0.781);
    display: none;
}
#winnerCounter{
    height: 40%;
    width: 50%;
    position: relative;
    border: thick solid;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    z-index: 1;
}
.cancelBtn {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
}
.mostrarWinners {
    height: 40%;
    width: 50%;
    padding: 15px;
    font-size: 20px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    z-index: 2;
}

@media screen and (max-height: 550px){
    .panel {
        height: 100%;
        width: 100%;
    }
} 
