* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(246, 255, 255);
    /* position: relative; */
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-1 {
    width: 60%;
    height: 25em;
    
    background-color: rgb(165, 165, 144);
    border: solid   rgb(88, 88, 88);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.tituloAdd {
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;

}
/* .agregarP {

} */
.participantes {
    width: 50%;
    text-align: center;
    display: inline;   
    margin-top: 2em;
}

.agregarP {
    display: inline-block;
}

.addButton {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    font-size: 1em;
    border: solid thin;
    vertical-align: middle;
}

#lista {
    margin-top: 1rem;
    /* display: inline-block; */
}
.player {
    border: solid thin;
    border-radius: 10px;
    list-style: none;
    float: left;
    position: relative;
    background-color: rgb(211, 211, 211);
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    margin:0 0.5rem 0.5rem 0.5rem;
}
.delButton {
    height: 1.52em;
    width: 1.5em;
    border: solid thin;
    border-radius: 0 10px 10px  0px;
    position: absolute;
    top: -1px;
    right: -1px;
}
.leftSide {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 1em;
}
/* Configuracion */
.rightSide {
    width: 50%;
    text-align: center;
    position: relative;
    height: 100%;
    border-left: solid;
    font-size: 1.2em;
}
.cantidad {
    margin-top: 2em;
    margin-bottom: 1em;
}
label {
    margin: 1em;
    margin-top: 1em;
}
.sorteo {
    margin-top: 1em;
    position: absolute;
    width: 10em;
    height: 8%;
    border-radius: 10px; 
    bottom: 1em;
    left: calc( (100% - 10em) / 2);
}

#radiosWin {
    display: flex;
    justify-content: center;
}
.blurryBack {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(14, 15, 15, 0.781);
    display: none;
}
.mostrarWinners {
    height: 40%;
    width: 50%;
    border: thick solid;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    z-index: 2;
}
